:root {
  --blue: rgb(61, 145, 255);
  --gray: #ccc;
}

html {
  font-size: 20px;
}

body {
  margin: 2rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
